.Header {
    padding: 20px;
    background-color: #0d4e04;
    color: white;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.Header h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    margin-right: auto;
}

.Header a {
    cursor: pointer;
}

.Header a:focus,
.Header a:hover {
    text-decoration: underline;
}

.Header a {
    text-decoration: none;
    color: #fff;
}

.Header :link,
.Header :visited {
    color: #fff;
}

.Header a:not(:last-child) {
    margin-right: 2em;
}
